<h2 class="ui center aligned icon header">
  <i class="inverted orange circular coffee icon"></i>

  Friends
</h2>

<%= render 'layouts/flash' %>







<% if @message.errors.any? %>
  <div class="ui negative message">
  	 <%= pluralize(@message.errors.count,"error")%> prohibit article from being created
    <i class="close icon"></i>
    <div class="header">
      dsfdfsdfdsfds vvvv
    </div>  
  </div>
	
<% end %>












<div class="ui two column grid">
    <div class="ten wide column">
		<div class='ui fluid raised card chatbox'>
			<div class="content"> 

				<div class="ui feed" id="message-container">
				  	<%= render @messages %>
				</div>
			</div>
			

			<div class="extra content">
				<%= form_for @message, html: {class: "ui reply form"}, url: messages_path, remote: true do |f| %>
				  <div class="field">
					<div class="ui fluid icon input">
						<%= f.text_field :body, type:"text", placeholder:'Enter a message' %>
            			<%= button_tag( :class => "ui orange small submit button") do %> &nbsp;
              			<i class="bordered inverted orange edit icon"></i> 
            			<% end %>
            								
					</div>
				  </div>
				<% end %>
			</div>


		</div>	




    </div>

    <div class="six wide column">
		<div class='ui fluid raised card chatbox'>
			<div class="content"> 
				<div class="ui inverted vertical menu s-menu">
				  <a class="active item">
				    Home
				  </a>
				  <a class="item">
				    Messages dssf sdf sdfsdf sdfsd sdf sdfsdf sdf
				  </a>
				  <a class="item">
				    Friends
				  </a>
				</div>
			</div>


		</div>
		






    </div>
 
</div>
