<h2 class="ui center aligned icon header">
	Welcome in message me app
  <i class="inverted orange circular power off icon log-in"></i>

  Sign up
</h2>


<div class='flash-space'>
  <%= render 'layouts/flash' %>
</div>



<div class="ui placeholder segment">
  <div class="ui two column very relaxed stackable grid">
    <div class="column signup">
      <div class="ui form">
        <%= form_for @user, url: signup_path do |f| %>

          <div class="field">
            <%= f.label "username" %>
            <div class="ui left icon input">
              <%=f.text_field :username, type:"text",placeholder:'Username' %>
              <i class="user icon"></i>
            </div>
          </div>
          <div class="field">
            <%= f.label "Password" %>
            <div class="ui left icon input">
              <%=f.password_field :password, type:'password' %>
              <i class="lock icon"></i>
            </div>
          </div>
            <%= button_tag( :class => "ui orange submit button") do %>
              <i class='handshake outline icon'></i>  Log in 
            <% end %>
        <% end %>
      </div>
    </div>
    
  </div>
  
</div>
